@using ClassLibrary1.Model.Entities
@model List<Produit>
@{
    ViewBag.Title = "Liste";
}

<html>

<body>
    <h2>Liste produits</h2>
    <form class="navbar-form navbar-left" role="search" action="@Url.Action("Search", "Produits")" method="get">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" name="filter">
        </div>
        <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </form>
    <table class="table">
        <thread>
            <tr>
                <td>Libélé</td>
            </tr>
        </thread>
        <tbody>
            @foreach (var produit in Model)
            {
                <tr>
                    <td><a href="@Url.Action("Details", "Produits", new {id=produit.IdProduit})">@produit.ProduitLibele</a></td>
                </tr>
            }
            </tbody>
        </table>

    </body>

</html>